/*
Source https://codepen.io/michelmarrache/pen/bDudG?page=1&
*/
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 99999999;
  background-color:rgba(0,0,0,.2)
}
.modal-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  
  font-family: Arial,sans-serif;
  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
  
  border-radius: 10px;
  
  background-color:white;
}

.modal > h1 {
  padding:8px;
  margin:-10px -10px 0;
  font-family:verdana,sans-serif;
  font-size:18px;
  color:white;
  
  border-radius: 10px 10px 0 0;
  
  text-shadow:2px 2px 0 rgba(0,0,0,.3);
  
  background-color:rgb(51, 51, 51);
}

.modal.modal-danger > h1 {
  background-color: rgba(255, 0, 0, 0.836);
}

.modal > .modal-close {
  position: absolute;
  right: 10px;
  top: 14px;
}
