.Notifications {
  position: fixed;
  width: 100%;
}

.Notifications .Notification {
  z-index: 101;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  text-align: center;
  line-height: 2.5;
  overflow: hidden; 
  box-shadow: 0 0 5px black;
  color: white;
}

.Notification-content {
  display: flex;
  align-items: center;
  text-align: center;
}

.Notification-content span {
  width: 100%;
}

.Notification-content svg {
  margin-left: 1em;
  margin-right: -2.5em;
}


.Notification-striped {
  background: repeating-linear-gradient(
    -55deg,
    rgba(255, 255, 255, 0.1) 1px,
    rgba(255, 255, 255, 0.01) 2px,
    rgba(255, 255, 255, 0.01) 11px,
    rgba(255, 255, 255, 0.1) 12px,
    rgba(255, 255, 255, 0.1) 20px
	);
  position: absolute;
  left: -46px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  animation-name: move-stripes;
	animation-duration: .6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.Notifications .Notification--default {
  background: #90a4ae;  
}

.Notifications .Notification--warning {
  background: #ffbb00;
}

.Notifications .Notification--info {
  background: #2196F3;
}

.Notifications .Notification--danger {
  background: #F44336;
}

.Notifications .Notification--success {
  background: #00c853;
}

@keyframes move-stripes {
	from {
		transform: translateX(0);
	}
	to { 
		transform: translateX(46px);
	}
}
