.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 4em;
  background-color: #f0f1f4;
  border: none;
  margin-bottom: 20px;
  padding: 0 1em;
}

.Header h1 {
  margin: 0;
}
