.SearchMerakiDeviceForm {
  display: flex;
  justify-content: space-between;
}

.SearchMerakiDeviceForm .search-form,
.SearchMerakiDeviceForm .add-form  {
  width: 50%;
}

.SearchMerakiDeviceForm .add-form {
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
}

.SearchMerakiDeviceForm .add-form .ControlInput {
  width: 100%;
}

.SearchMerakiDeviceForm .add-form .btn {
  margin: 1em 0 0 1em;
  width: 100%;
}

.SearchMerakiDeviceForm .relative {
  position: relative;
}

.SearchMerakiDeviceForm .absolute {
  position: absolute;
  background-color: white;
  padding: 1em;
  z-index: 1;
  box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
  top: 0;
  left: 0;
  right: 0;
}

.SearchMerakiDeviceForm .absolute table {
  margin-bottom: 0;
}

.SearchMerakiDeviceForm .absolute .table > tbody > tr > td:nth-child(1) {
  width: 10em;
}
