.MerakiQuoteShowGlobalOptions {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-grow: 0;     /* do not grow   - initial value: 0 */
  flex-shrink: 1;   /* do not shrink - initial value: 1 */
}

.MerakiQuoteShowGlobalOptions .ControlInput {
  width: 100%;
}

.MerakiQuoteShowGlobalOptions .ControlInput:nth-of-type(1) {
  flex: 2;
}

.MerakiQuoteShowGlobalOptions .ControlInput:nth-of-type(2) {
  flex: 1;
  padding: 0 10px;
}

.MerakiQuoteShowGlobalOptions .ControlInput:nth-of-type(3) {
  flex: 3;
}
