.ShowModal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
}

.ShowModal dd,
.ShowModal dt {
  margin-left: 0;
  text-align: left;
}

.ShowModal .Profile {
  margin: 1em;
}

.ShowModal img {
  max-height: 20em;
  max-width: 25em;
}
