/* Source: https://codepen.io/sevilayha/pen/IdGKH?editors=1100 */

/* form starting stylings ------------------------------- */
.ControlInput { 
  position:relative; 
  margin-top: 21px;
  --ControlInputRed: rgb(211, 0, 0);
  --ControlInputBlue: #5264AE;
}

.ControlInput>input,
.ControlInput>select {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #757575;
}

.ControlInput>select {
  background-color: white;
  border-radius: 0;
  -webkit-appearance:none;
}

.ControlInput>input:read-only {
  cursor: not-allowed;
}

.ControlInput.ControlInput--error>input,
.ControlInput.ControlInput--error>select  {
  border-bottom:1px solid var(--ControlInputRed);
}

.ControlInput>input:focus 		{ outline:none; }
.ControlInput>select:focus 		{ outline:none; }

/* LABEL ======================================= */
.ControlInput label 				 {
  color: #999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

.ControlInput.ControlInput--error label {
  color: var(--ControlInputRed); 
}

/* active state */
.ControlInput>input:focus ~ label,
.ControlInput>select:focus ~ label,  
.ControlInput>input.has-content ~ label,
.ControlInput>select.has-content ~ label {
  top:-20px;
  font-size:14px;
  color: var(--ControlInputBlue);
}

.ControlInput.ControlInput--error>input:focus ~ label,
.ControlInput.ControlInput--error>select:focus ~ label,
.ControlInput.ControlInput--error>input.has-content ~ label,
.ControlInput.ControlInput--error>select.has-content ~ label {
  color: var(--ControlInputRed);
}
/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width: 100%; }

.ControlInput .bar:before, 
.ControlInput .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: var(--ControlInputBlue); 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

.ControlInput .error-message {
  color: var(--ControlInputRed);
}

/* variations */
.bar.bar--error:before, 
.bar.bar--error:after {
  background: var(--ControlInputRed);
}

/* active state */
.ControlInput>input:focus ~ .bar:before, 
.ControlInput>input:focus ~ .bar:after {
  width:50%;
}

.ControlInput>select:focus ~ .bar:before, 
.ControlInput>select:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.ControlInput>input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

.ControlInput>select:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

.ControlInput.ControlInput--error>input:focus ~ .highlight {
  animation:inputHighlighterRed 0.3s ease;
}

.ControlInput.ControlInput--error>select:focus ~ .highlight {
  animation:inputHighlighterRed 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
	from { background: var(--ControlInputBlue); }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighterRed {
	from { background: var(--ControlInputRed); }
  to 	{ width:0; background:transparent; }
}
