.btn {
  cursor: pointer;
  font-size: 1em;
  position: relative;
  display: block;
  margin: 2em auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #3F51B5;
  color: #ecf0f1;
  transition: background-color .3s;
}

.btn.btn-red {
  background-color: rgb(181, 63, 63);
}

.btn.btn-red:hover, .btn.btn-red:focus {
  background-color: rgb(159, 48, 48);
}

.btn.btn-grey {
  background-color: rgb(143, 146, 175);
}

.btn.btn-grey:hover, .btn.btn-grey:focus {
  background-color: rgb(113, 113, 138);
}

.btn:disabled {
  opacity: 0.8;
}

.btn:hover, .btn:focus {
  background-color: #303F9F;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 0.8em 1.8em;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:not([disabled]):active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}
