.MerakiQuoteShow {
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em 0.5em;
}

.MerakiQuoteShow div:nth-child(1) {
  grid-column: span 4;
}

.MerakiQuoteShow div:nth-child(2) {
  grid-column: span 4;
}

.MerakiQuoteShow div:nth-child(3) {
  grid-column: span 2;
}

.MerakiQuoteShow div:nth-child(4) {
  grid-column: span 2;
}

.MerakiQuoteShow div:nth-child(5) {
  grid-column: span 4;
}

.MerakiQuoteShow div:nth-child(6) {
  grid-column: span 1;
}

.MerakiQuoteShow div:nth-child(7) {
  grid-column: span 3;
}
