.MerakiQuoteShow .Card:nth-child(1) {
  grid-area: header;
}

.MerakiQuoteShow .Card:nth-child(2) {
  grid-area: search;
}

.MerakiQuoteShow .Card:nth-child(3) {
  grid-area: global;
  width: 100%;
}

.MerakiQuoteShow .Card:nth-child(4) {
  width: 100%;
  grid-area: actions;
}

.MerakiQuoteShow .Card:nth-child(5) {
  width: 100%;
  grid-area: table;
}

.MerakiQuoteShow {
  width: 100%;
  max-width: 1080px;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "search search"
    "global actions"
    "table table";
}
