.MerakiDeviceShowModal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
}

.MerakiDeviceShowModal dd,
.MerakiDeviceShowModal dt {
  text-align: left;
}

.MerakiDeviceShowModal img {
  max-height: 20em;
  max-width: 25em;
}
